.App{
  background-color: #3f3160;
  height:100vh;
  width: 100%;
}

#to-do-form input{
  background-color: rgba(220, 220, 220);
  border: 0; 
  color: rgb(0, 0, 0);
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: rgb(0, 0, 0);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 30px;
  width: 31px;
  border-radius: 5px;
  border: 0;
  background-color:rgba(50,205,50); 
  cursor: pointer;
}
#to-do-form button:focus{
  outline: none;
}

.react-icons {
  vertical-align: middle;
}